# This configuration file is where you can place site-specific configuration
# for this Lambda.
---

mysettings:
  stage: staging
  region: us-east-1
  slack:
    webhookurl:
    username: ECSParrot
    channel: '#devops'
