# This configuration file is where you can place site-specific configuration
# for this Lambda.
---

mysettings:
  stage: staging
  region: us-east-1
  slack:
    webhookurl: DISABLED
    username: ECSParrot
    channel: '#devops'
    icon_emoji: ':bird:'
    quiet: False
  flowdock:
    api_token: DISABLED
    username: ECSParrot
    icon_emoji: ':bird:'
    quiet: False
  ignore:
    exit_code:
      ## split the list by ::
      container_names: 'mongo-router::fake-test'
